extends layout

block content

    form(action='/search').form-inline
        .input-append
            input(type='search',name='q',value='#{query.q ? query.q : ''}').span3
            button(type='submit').btn Search

    - if(typeof results !== 'undefined')
        hr
        pre #{JSON.stringify(results)}