extends layout

block content

    - if(typeof results !== 'undefined' && results.items)
        .alert Video found
        .video!= results.items[0].player.embedHtml + '</iframe>'
        pre #{JSON.stringify(results)}
    - else
        .alert Video not found